@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Välkommen till Lexicon LMS!</h1>
    <p class="lead">Lexicon LMS är lärplattformen för Lexicons påbyggnadsutbildningar.</p>
    <p><a href="http://www.lexicon.se" class="btn btn-primary btn-lg">Läs mer om Lexicon &raquo;</a></p>
</div>
